<div class="side-bar">
    <div><i class="uil uil-ellipsis-h"></i></div>
    <ul class="side-bar__list list-one">
     <!-- <li *ngFor = "let item of [1,1,1,1,1]"> se repite esas veces el li-->
           <li *ngFor="let item of mainMenu.defaultOptions" >
            <!--mainmenu.defaultoptions esta declarado en side-bar.components.ts-->
            <div class="list-wrapper-item">
                <i [ngClass]="['uil, item.icon']"></i>
                <span>{{item.name}}</span>
            </div>
        </li>
    </ul>
    <div class="side-bar__separator"></div>
    <ul class="side-bar__list list-two">
        <li>
            <div class="list-wrapper-item">
                <i></i>
                <span ></span> 
            </div>
        </li>
    </ul>
    <div class="side-bar__separator line-separator"></div>
    <ul class="side-bar__list list-three">
        <li>
            <div class="list-wrapper-item">
                <span></span>
            </div>
        </li>
    </ul>
</div>