<!-- Diseño del mode (small)-->
<div  class="card-player player-small">
    <img class="cover">
    <div class="content-player">
        Nombre
    </div>
    <div class="buttons-player">
        <button *ngIf="true" class="play-btn">
            <i class="uil " [ngClass]="{'uil-play':true}"></i>
        </button>
        <button *ngIf="false" class="play-btn">
            <i class="uil uil-play"></i>
        </button>
    </div>
</div>

<!-- Diseño del mode (big)-->
<div class="card-player player-big">

    <img [src]="" alt="" class="cover">

    <div class="content-player">
        <div class="title-track">nombre</div>
        <div class="sub-title-track">subtitulo</div>
    </div>
    <div class="buttons-player">
        <button *ngIf="true" class="play-btn">
        
            <i class="uil " [ngClass]="{'uil-play':true}"></i>
        </button>
        <button *ngIf="false" class="play-btn">
            <i class="uil uil-play"></i>
        </button>
    </div>
</div>