.search-component {
    padding: 0 1.5rem;
}

.search-component input {
    border: 0;
    border-radius: 0.6rem;
    height: 40px;
    width: 20rem;
    padding: 0 .75rem;
    font-size: 90%;
    margin: 15px 0px;

}